@import url(./reset.css);
@import url(../fonts/Druk-cyr/stylesheet.css);
@import url(../fonts/Mona-Sans/stylesheet.css);
@import url(https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap);

/* ============================== HEADER =====================*/
header {
  position: relative;
}

header .container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  z-index: 9;
  padding-top: 2vw;
}

header .container.header-wrapper {
  position: relative;
  padding: 0;
}

.header-logo {
  width: 3.4vw;
  height: 4.01vw;
  fill: #fff;
}

.header-wrapper nav {
  display: flex;
  align-items: center;
  gap: 2.8vw;
}

.header-wrapper nav ul {
  display: flex;
  gap: 2.8vw;
  align-items: center;
}

.header-wrapper nav ul a {
  color: #fff;
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.3vw;
}

.header-wrapper nav svg {
  width: 2vw;
  height: 2vw;
  fill: #fff;
}

/* MENU_OVERLAY-==================================================== */

.menu-overlay {
  width: 0%;
  overflow: hidden;
  height: 100vh;
  background-color: rgba(0, 208, 210, 1);
  position: absolute;
  top: 0;
  z-index: 999;
  right: 0;
  transform: translateX(100%);
  transition: 0.5s ease-out;
  padding: 0;
}

.menu-overlay.active {
  width: 56%;
  padding: 2.3vw 3.6vw 4vw 3.6vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(0);
}

.menu-nav-container {
  display: flex;
  gap: 6.8vw;
  flex-shrink: 0;
}

.menu-navigation span {
  display: block;
  font-family: "Mona-Sans";
  font-size: 2.2vw;
  font-weight: 700;
  line-height: 2.9vw;
  margin-top: 1.5vw;

  margin-bottom: 4vw;
  color: rgba(255, 255, 255, 1);
}

.menu-navigation ul li a {
  position: relative;
  font-family: "Mona-Sans";
  font-weight: 700;
  font-size: 4vw;
  transition: 1s;
  text-transform: uppercase;
}

.menu-navigation ul li a::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 1);
  width: 100%;
  min-height: 0.1vw;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

.menu-navigation ul li a:hover::after {
  opacity: 1;
}

.menu-navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vw;
}

.close-overlay {
  position: absolute;
  top: 2.3vw;
  right: 3.6vw;
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-top: 1.5vw;
  cursor: pointer;
  justify-content: end;
}

.close-overlay span {
  font-family: "Mona-Sans";
  font-size: 2.2vw;
  font-weight: 700;
  line-height: 0;
  letter-spacing: -0.03em;
  text-align: left;

  color: rgba(255, 255, 255, 1);
}

.close-overlay svg {
  min-width: 2vw;
  min-height: 2vw;
  max-width: 2vw;
  max-height: 2vw;
  fill: white;
}

.right-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-menu-container h2 {
  font-family: "Druk Cyr";
  font-size: 10.3vw;
  font-weight: 700;
  line-height: 10.3vw;
  text-transform: uppercase;
  margin-bottom: 4.5vw;
}

.right-menu-container .join-link {
}

.right-menu-container .join-link-arrow {
  background-color: rgba(0, 0, 0, 1);
}

.right-menu-container .arrow-icon {
  fill: white;
}

.right-menu-container .app {
  font-size: 1.3vw;
}

.menu-address-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.menu-address-container a {
  font-family: "Mona-Sans";
  font-size: 2.2vw;
  font-weight: 700;
  line-height: 2.9vw;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

.menu-address-container p {
  text-align: end;
  font-family: "Mona-Sans";
  font-size: 0.8vw;
  font-weight: 500;
  line-height: 1.2vw;
  color: rgba(255, 255, 255, 1);
}

/* MAIN HERO SECTION ======================================== */

.hero-section {
  background-image: url(../img/main-page/hero/hero-bg-min.jpg);
  background-size: cover;
  padding-top: 37vw;
  padding-bottom: 4.4vw;
}

.hero-section .hero-title-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-section .hero-title-container > div h1 {
  text-align: left;
}

.hero-title-container {
  margin-bottom: 1vw;
}

.hero-title-container h1 {
  font-family: "Mona-Sans";
  font-size: 8.5vw;
  line-height: 8.5vw;
  font-weight: 800;
  /* line-height: 11.3vw; */
  text-transform: uppercase;
  text-align: right;
  color: rgb(253 253 253);
  mix-blend-mode: color-dodge;
}

.hero-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-bottom-container div,
.hero-bottom-container a {
  font-family: "Mona-Sans";
  font-size: 1.1vw;
  font-weight: 600;
  line-height: 1.4vw;
  color: rgba(255, 255, 255, 0.7);
}

.hero-bottom-container a svg {
  fill: rgba(255, 255, 255, 0.7);
  width: 0.7vw;
  height: 0.7vw;
  transform: rotate(90deg);
}

.hero-bottom-container a {
  display: flex;
  align-items: center;
  gap: 0.3vw;
  transition: 0.5s;
}

.hero-bottom-container a:hover {
  color: rgba(255, 255, 255, 1);
}

.hero-bottom-container a:hover svg {
  fill: rgba(255, 255, 255, 1);
}

.about-page .hero-section {
  background-image: url(../img/about-page/about-hero-bg.jpg);
  padding-top: 23vw;
}

.about-page .hero-title-container h1 {
  text-align: center;
  margin-bottom: 4.6vw;
  mix-blend-mode: exclusion;
}

.about-page .hero-section .join-link {
  margin: 0 auto;
}

.about-page .hero-section .hero-bottom-container {
  margin-top: 4.6vw;
}

.about-page.gallery .hero-section {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0) 50%
    ),
    url(../img/gallery-page/gallery-hero-bg.jpg);
  padding-top: 23vw;
}

.about-page.quantum .hero-section {
  background-image: url(../img/tariff/quantum-hero-bg.jpg);
}
.about-page.hyper .hero-section {
  background-image: url(../img/tariff/hyper-hero-bg.jpg);
}
.about-page.blast .hero-section {
  background-image: url(../img/tariff/blast-hero-bg.jpg);
}

/* ABOUT SECTION ======================================= */

.about-section-main {
  position: relative;
  background-image: url(../img/main-page/about/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vw 0 15vw 0;
  z-index: 1;
}

.about-section-main h2 {
  position: relative;
  transform: translateY(4.5vw);
  font-family: "Mona-Sans";
  font-size: 7vw;
  font-weight: 700;
  line-height: 9vw;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  mix-blend-mode: exclusion;
  z-index: 9;
}

.about-img-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3vw;
}

.about-img-container div svg {
}

.about-img-container div:nth-child(1) {
  height: fit-content;
  position: relative;
}

.about-img-container div:nth-child(1) svg {
  position: absolute;
  fill: #000;
  width: 4.8vw;
  height: 4.8vw;
  bottom: 0;
  right: 0;
  transform: translateY(50%) translateX(50%);
}
.about-img-container div:nth-child(3) svg {
  fill: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-50%);
  mix-blend-mode: exclusion;
  width: 4.8vw;
  height: 4.8vw;
}

.about-img-container div:nth-child(1) img {
  width: 16.7vw;
}
.about-img-container div:nth-child(2) img {
  width: 38vw;
}

.about-img-container div:nth-child(3) {
  align-self: end;
  height: fit-content;
  position: relative;
}

.about-img-container div:nth-child(3) img {
  width: 14.4vw;
}

.bout-desc-container {
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 9.2vw;
}

.bout-desc-container h3 {
  font-family: "Mona-Sans";
  font-size: 3.4vw;
  font-weight: 700;
  line-height: 4.4vw;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.1vw;
}

.bout-desc-container p {
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.8vw;
  text-align: center;
  width: 48vw;
  margin: 0 auto;
  margin-bottom: 2.6vw;
}

.bout-desc-container .join-link {
  margin: 0 auto;
}

.about-char-item {
  position: relative;
  padding-top: 16.4vw;
  padding-left: 2.2vw;
  border-left: 0.05vw solid rgba(0, 0, 0, 0.3);
  height: fit-content;
  /* flex: 1; */
}

.about-char-item:nth-child(1) {
  width: 22vw;
}
.about-char-item:nth-child(2) {
  width: 25.5vw;
}
.about-char-item:nth-child(3) {
  width: 29.4vw;
}
.about-char-item:nth-child(4) {
  flex: 1;
}
.about-char-item div {
  border-radius: 100%;
  width: 2.8vw;
  height: 2.8vw;
  border: 0.05vw solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.2vw;
  mix-blend-mode: exclusion;
}

.about-char-item span {
  font-family: "Mona-Sans";
  font-size: 1.3vw;
  font-weight: 500;
  line-height: 1.3vw;
  color: #fff;
  mix-blend-mode: exclusion;
}

.about-char-item h4 {
  font-family: "Mona-Sans";
  font-size: 5.2vw;
  font-weight: 700;
  line-height: 5.2vw;
  margin-bottom: 2.2vw;
  text-transform: uppercase;
  color: #fff;
  mix-blend-mode: exclusion;
  white-space: nowrap;
}

.about-char-item p {
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 600;
  line-height: 1vw;
  color: #fff;
  mix-blend-mode: exclusion;
}

.about-char-item:nth-child(even) {
  padding-top: 22.4vw;
}

.about-char-container {
  display: flex;
}

.about-char-item img {
  position: absolute;
  min-width: 20vw;
  max-width: 20vw;
  left: -1.3vw;
  bottom: -7.7vw;
  z-index: -1;
}

/* PLAY RELL SECTION ========================== */

.play-reel-section {
  padding: 5.4vw 0;
  background-color: rgba(0, 208, 210, 1);
  background-image: url(../img/play-reel-bg.jpg);
  background-repeat: no-repeat;
  background-size: 36.7vw;
  background-position: center center;
}

.play-reel-top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6vw;
}

.play-reel-top-text svg {
  width: 1.2vw;
  height: 1.2vw;
  fill: #fff;
}

.play-reel-top-text p {
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.8vw;
  color: #fff;
}

.play-reel-title-container {
  display: flex;
  justify-content: center;
  gap: 45vw;
  margin-top: 16.5vw;
  margin-bottom: 15.6vw;
}

.play-reel-title-container h2 {
  font-family: "Mona-Sans";
  font-size: 7.5vw;
  font-weight: 700;
  line-height: 9.7vw;
  text-transform: uppercase;
  color: #fff;
}

.play-reel-bottom-text {
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.3vw;
  width: 21vw;
  margin: 0 auto;
  color: #fff;
}

/* WHY_SECTION =============================== */

.why-section {
  position: relative;
  overflow: hidden;
  background-image: url(../img/main-page/why-section/why-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vw 0;
  height: 100vh;
}

.why-section h2 {
  position: absolute;
  font-family: "Mona-Sans";
  font-size: 11.3vw;
  font-weight: 700;
  line-height: 12vw;
  text-transform: uppercase;
  white-space: nowrap;
  width: fit-content;
  color: #fff;
  mix-blend-mode: exclusion;
}

.why-section h2.first {
  left: -2vw;
  top: -2vw;
}
.why-section h2.second {
  left: -2vw;
  bottom: -3vw;
}

/* .why-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

.why-card-item {
  width: fit-content;
  background-color: #fff;
  background-image: url(../img/main-page/why-section/why-card-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  padding: 1.4vw 1vw 1vw 1vw;
}

.why-card-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.9vw;
}

.why-card-item h3 {
  font-family: "Mona-Sans";
  font-size: 1.6vw;
  font-weight: 700;
  line-height: 2.1vw;
  max-width: 16.4vw;
}

.why-card-item svg {
  width: 2.4vw;
  height: 2.4vw;
}

.why-card-item .why-image-wrapper {
  width: 21vw;
  margin-bottom: 1.3vw;
}

.card-bottom-info {
  display: flex;
  justify-content: space-between;
}

.card-bottom-info span {
  font-family: "Mona-Sans";
  font-size: 0.7vw;
  font-weight: 300;
  line-height: 0.9vw;
}

/* portfolio-slider-section =========================================== */
.portfolio-slider-section {
  padding: 14vw 0 10vw 0;
  overflow: hidden;
}

.portfolio-swiper-container {
  position: relative;
  width: 100%;
  margin-bottom: 8.1vw;
}

.portfolio-swiper-container .swiper-slide {
  /* height: 32vw !important; */
  overflow: hidden;
  height: auto;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.07);
  transition: transform 0.3s ease;
}

.portfolio-swiper-container .swiper-slide img {
  object-fit: cover;
  height: 100%;
}

.title-container {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 7.1vw;
}

.title-container svg {
  display: block;
  width: 5.3vw;
  margin: 0 auto;
  fill: #000;
  margin-bottom: 2vw;
}

.portfolio-slider-section .title-container .title {
  text-align: center;
}

.portfolio-swiper-container .swiper-navigation svg {
  width: 1.1vw;
  height: 1.1vw;
  fill: #fff;
}

.portfolio-swiper-container .swiper-prev svg {
  transform: rotate(-135deg);
}
.portfolio-swiper-container .swiper-next svg {
  transform: rotate(45deg);
}

.portfolio-swiper-container .swiper-navigation {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0px;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  z-index: 999;
  gap: 35vw;
}

.portfolio-swiper-container .swiper-prev {
  backdrop-filter: blur(10px);
  width: 6.3vw;
  height: 6.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid rgb(255 255 255 / 19%);
  cursor: pointer;
  background: linear-gradient(
    169.7deg,
    rgba(255, 255, 255, 0.16) -17.85%,
    rgba(255, 255, 255, 0) 117.02%
  );
}
.portfolio-swiper-container .swiper-next {
  backdrop-filter: blur(10px);
  width: 6.3vw;
  height: 6.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid rgb(255 255 255 / 19%);
  cursor: pointer;
  background: linear-gradient(
    169.7deg,
    rgba(255, 255, 255, 0.16) -17.85%,
    rgba(255, 255, 255, 0) 117.02%
  );
}

.portfolio-slider-section .join-link {
  margin: 0 auto;
}

/* TARIFF_SECTION =================================== */

.tariff-section {
  padding-bottom: 4.3vw;
}

.tariff-section h2 {
  text-transform: uppercase;
  text-align: center;
  width: 81vw;
  margin: 0 auto;
  margin-bottom: 4.5vw;
}

.tariff-item {
  background-image: url(../img/main-page/why-section/why-card-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  padding: 1vw;
}

.tariff-item.quantum .tariff-item-title-container {
  background-image: url(../img/tariff/quantum.jpg);
}
.tariff-item.hyper .tariff-item-title-container {
  background-image: url(../img/tariff/hyper.jpg);
}
.tariff-item.blast .tariff-item-title-container {
  background-image: url(../img/tariff/blast.jpg);
}

.tariff-item.blast {
  background-color: rgba(0, 208, 210, 1);
}

.tariff-item.blast .app {
  background: linear-gradient(
    169.7deg,
    rgba(255, 255, 255, 0.16) -17.85%,
    rgba(255, 255, 255, 0) 117.02%
  );
}

.tariff-item.blast .join-link-arrow {
  background-color: #000;
}

.tariff-item .tariff-item-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 13.8vw;
  background-size: cover;
  margin-bottom: 4.3vw;
}

.tariff-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.7vw;
}

.tariff-item h3 {
  font-family: "Mona-Sans";
  font-size: 4vw;
  font-weight: 700;
  line-height: 5.2vw;
  color: rgba(255, 255, 255, 1);
  mix-blend-mode: exclusion;
}

.tariff-item p {
  text-align: center;
  font-family: "Inter";
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.6vw;
  text-align: center;
  margin-bottom: 3vw;
}

.tarif-price {
  display: block;
  text-align: center;
  font-family: "Inter";
  font-size: 3.4vw;
  font-weight: 700;
  line-height: 4.4vw;
  margin-bottom: 2.6vw;
}

.tariff-item .join-link {
  width: 100%;
}
.tariff-item .join-link svg {
  fill: #fff;
}
.tariff-item .app {
  width: 100%;
}

.tariff-item .card-bottom-info {
  margin-top: 2.7vw;
}

/* FORM SECTION ========================== */

.form-section {
}

.form-container-bg-wrapper {
  background-image: url(../img/form-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6vw 0;
}

.form-section h2 {
  text-align: center;
  width: 60vw;
  margin: 0 auto;
  mix-blend-mode: difference;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: 24vw;
}

.form-section .form {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 71.5vw;
  margin: 0 auto;
}

.form-section .form .form-container {
  background-color: #fff;

  padding: 3.1vw;
  padding-top: 4vw;
}

.form-section .form .form-desc-container {
  background-color: rgba(0, 208, 210, 1);
  padding: 3.1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-desc-container .join-link-arrow {
  background-color: #000;
}

.form-desc-container span.top-span {
  display: block;
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 600;
  line-height: 2vw;
  color: #000;
  margin-bottom: 0.9vw;
}

.form-desc-container h4 {
  font-family: "Mona-Sans";
  font-size: 1.3vw;
  font-weight: 700;
  line-height: 1.8vw;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1vw;
}

.form-desc-container p {
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 600;
  line-height: 1.4vw;
  margin-bottom: 2.6vw;
  color: #fff;
}

.form-section .form .form-container .form-input-container:not(:last-child) {
  margin-bottom: 4.1vw;
}

/* GIFT_SECTION ======================= */

.gift-section {
  padding: 7.4vw 0 4.4vw 0;
}

.gift-section h2 {
  font-family: "Mona-Sans";
  font-size: 1.1vw;
  font-weight: 700;
  line-height: 1.2vw;
  letter-spacing: 1.33em;
  text-align: center;
  margin-bottom: 8vw;
  text-transform: uppercase;
}

.gift-desc-container {
  position: relative;
  & img {
    position: absolute;
    top: 0;
    right: 12vw;
    width: 35vw;
  }
}

.gift-desc-container p {
  font-family: "Mona-Sans";
  font-size: 1.8vw;
  font-weight: 700;
  line-height: 2.8vw;
  letter-spacing: -0.02em;
  width: 25vw;
  margin-bottom: 3.1vw;
}

.gift-desc-container h3 {
  font-family: "Mona-Sans";
  font-size: 14.5vw;
  font-weight: 700;
  line-height: 16vw;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  color: rgba(22, 22, 22, 1);
  margin-top: 4.4vw;
}

/* HISTORY_SECTION ======================= */

.history-section {
  padding: 6.7vw 0 9.1vw 0;
}

.history-section h2 {
  text-align: center;
  text-transform: uppercase;
}

.history-container {
  display: flex;
  gap: 2vw;
  margin-bottom: 12vw;
}

.history-desc-container h4 {
  font-family: "Mona-Sans";
  font-size: 1.8vw;
  font-weight: 700;
  line-height: 2.2vw;
  letter-spacing: -0.03em;
  text-align: left;
  width: 35vw;
  margin-bottom: 2.3vw;
}

.history-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history-desc-container p {
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 700;
  line-height: 1.8vw;
  letter-spacing: -0.03em;
  text-align: left;
  width: 39vw;
  text-indent: 60px;
}

.desc-image {
  width: 18.3vw;
  height: 18.3vw;
  border: 0.05vw solid rgba(0, 0, 0, 1);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vw;
}

.desc-bottom-container {
  display: flex;
  gap: 10vw;
  align-items: flex-end;
}

.desc-bottom-container p {
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 500;
  line-height: 1vw;
  letter-spacing: -0.02em;
  text-align: right;
  width: 10vw;
  margin-bottom: 0.5vw;
}

.desc-bottom-container span {
  display: block;
  margin-left: auto;
  width: fit-content;
  font-family: "Mona-Sans";
  font-size: 2.2vw;
  font-weight: 500;
  line-height: 2.2vw;
  letter-spacing: -0.02em;
  text-align: left;
}

.numbers-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.numbers-container h5 {
  font-family: "Mona-Sans";
  font-size: 1.8vw;
  font-weight: 700;
  line-height: 2.2vw;
  letter-spacing: -0.03em;
  text-align: left;
  width: 10vw;
}

.numbers-list {
  display: flex;
  gap: 6.3vw;
}

.numbers-list span {
  display: block;
  font-family: "Mona-Sans";
  font-size: 5.2vw;
  font-weight: 600;
  line-height: 5.2vw;
  text-align: left;
  margin-bottom: 2vw;
}

.numbers-list p {
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 500;
  line-height: 1vw;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(21, 21, 21, 0.4);
}

/* OUR_MISSION +===================================== */

.our-mission {
  padding: 26.8vw 0 8.9vw 0;
  background-image: url(../img/about-page/our-mission-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.our-mission .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.our-mission h2 {
  font-family: "Mona-Sans";
  font-size: 4.5vw;
  font-weight: 700;
  line-height: 5vw;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  width: 50vw;
  color: rgba(255, 255, 255, 1);
}

.our-mission p {
  font-family: "Mona-Sans";
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 1.8vw;
  letter-spacing: -0.03em;
  text-align: left;
  width: 25vw;
  color: rgba(255, 255, 255, 1);
}

/* ============================ LEARN SECTION ================================= */

.learn-section {
  position: relative;
  background-image: url(../img/about-page/learn-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10.7vw 0 17vw 0;
}

.learn-list {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.learn-item {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21vw;
  height: 21vw;
  padding: 2.8vw 2vw 2vw 2vw;
}

.learn-list .column:nth-child(1) .learn-item:nth-child(2) {
  transform: translateX(5.3vw) translateY(6.9vw);
}
.learn-list .column:nth-child(1) .learn-item:nth-child(3) {
  transform: translateX(34vw) translateY(4vw);
}

.learn-list .column:nth-child(2) .learn-item:nth-child(1) {
  transform: translateX(0) translateY(3.5vw);
}
.learn-list .column:nth-child(2) .learn-item:nth-child(2) {
  transform: translateX(-25vw) translateY(-4vw);
}
.learn-list .column:nth-child(2) .learn-item:nth-child(3) {
  transform: translateX(-4.1vw) translateY(0);
}

.learn-item svg {
  width: 3.75vw;
  height: 3.75vw;
  fill: rgba(0, 208, 210, 1);
}

.learn-item h4 {
  font-family: "Mona-Sans";
  font-size: 1.3vw;
  font-weight: 700;
  line-height: 1.6vw;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 1.3vw;
}

.learn-item p {
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.5vw;
  color: rgba(0, 0, 0, 1);
  width: 14vw;
}

/* PORTFOLIO_SECTION ===================== */

.portfolio-section {
  padding: 7.8vw 0 12vw 0;
}

.portfolio-section .title-container {
  margin-bottom: 3.2vw;
}

.portfolio-section h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5vw;
}

.portfolio-section p {
  font-family: "Mona-Sans";
  font-size: 1.2vw;
  font-weight: 700;
  line-height: 1.9vw;
  text-align: center;
  width: 17vw;
  margin: 0 auto;
}

.gallery-control-panel-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  margin-bottom: 7vw;
}

.gallery-control-panel-item.active {
  background-color: rgba(0, 208, 210, 1);
  outline: none;
}

.gallery-control-panel-item {
  font-family: "Mona-Sans";
  font-size: 1.5vw;
  font-weight: 600;
  line-height: 1.5vw;
  padding: 1.1vw 0;
  width: 12vw;
  text-align: center;
  outline: 0.07vw solid rgba(21, 21, 21, 1);
  cursor: pointer;
  transition: 0.5s;
}

.gallery-control-panel-item:hover {
  background-color: rgba(0, 208, 210, 1);
  border: none;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  margin-bottom: 6.2vw;
}

.gallery-list li {
  flex-basis: calc((100% - 2 * 2vw) / 3);
  aspect-ratio: 1/1;
  overflow: hidden;
}

.portfolio-gallery-container .join-link {
  margin: 0 auto;
}

/* ABOUT SECTION ========================== */

.about-section {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  padding: 3.5vw;
  padding-bottom: 2vw;
  height: 100vh;
  overflow: hidden;
  padding-top: 0;
}

.about-section p,
.about-section span,
.about-section h3 {
  position: relative;
  z-index: 9;
  color: rgba(255, 255, 255, 1);
}

.about-person-info {
  display: flex;
  align-items: center;
}

.about-person-name-container {
  display: flex;
  gap: 15vw;
  align-items: center;
  margin-bottom: 13vw;
}

.about-person-number-container p {
  width: 5vw;
  font-family: "Mona-Sans";
  font-size: 0.7vw;
  font-weight: 500;
  line-height: 0.7vw;
  margin-bottom: 0.6vw;
}

.about-person-number-container span {
  font-family: "Mona-Sans";
  font-size: 1.6vw;
  font-weight: 500;
  line-height: 1.6vw;
}

.person-name {
  position: relative;
  font-family: "Mona-Sans";
  font-size: 2.9vw;
  font-weight: 700;
  line-height: 3.2vw;
}

.person-name::after {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 3.5vw;
  height: 0.05vw;
  transform: rotate(45deg);
}

.marker {
  font-family: "Mona-Sans";
  font-size: 0.8vw;
  font-weight: 500;
  line-height: 0.8vw;
  text-transform: uppercase;
}

.person-name-container .marker {
  margin-top: -1vw;
}

.person-name-container {
  display: flex;
  gap: 3vw;
}

.about-person-desc-container h3 {
  font-family: "Mona-Sans";
  font-size: 2.9vw;
  font-weight: 700;
  line-height: 3.2vw;
  text-transform: uppercase;
  margin-bottom: 0.7vw;
}

.about-person-desc-container p {
  font-family: "Mona-Sans";
  font-size: 1vw;
  font-weight: 500;
  line-height: 1.1vw;
  width: 34vw;
  margin-bottom: 2.6vw;
}

.person-hologram-container {
  width: 30vw;
  margin-left: -5vw;
  margin-right: -8vw;
}

.tattoo-style-container {
  display: flex;
}

.tatto-style {
  position: relative;
  display: flex;
  font-family: "Mona-Sans";
  font-size: 2.9vw;
  font-weight: 700;
  line-height: 3.2vw;
  width: 21vw;
  text-align: end;
  text-transform: uppercase;
}

.tatto-style::before {
  position: absolute;
  left: 0;
  content: "";
  background-color: rgba(255, 255, 255, 1);
  width: 3.5vw;
  height: 0.05vw;
  transform: rotate(-45deg);
}

.tattoo-style-container .marker {
  margin-top: -1vw;
}

.tattoo-style-container:not(:last-child) {
  margin-bottom: 6vw;
  margin-left: 3vw;
}

.tattoo-style-container.experience .tatto-style {
  display: block;
  width: 15vw;
}

.about-section .vector2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.about-section .vector1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63.3vw;
  z-index: 9;
}

.about-swiper-container {
  overflow: hidden;
  width: 100%;
  /* height: 35vw; */
}

.about-swiper-container .swiper-navigation {
  position: absolute;
  bottom: 3.9vw;
  left: 50%;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.8vw;
  z-index: 99;
  transform: translateX(-50%);
}

.about-swiper-container .swiper-navigation .swiper-prev,
.about-swiper-container .swiper-navigation .swiper-next {
  background-color: rgba(0, 208, 210, 1);
  width: 3.3vw;
  height: 3.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}

.about-swiper-container .swiper-navigation .swiper-prev svg,
.about-swiper-container .swiper-navigation .swiper-next svg {
  width: 0.8vw;
  height: 0.8vw;
  transition: fill 0.5s;
}

.about-swiper-container .swiper-navigation .swiper-prev:hover svg,
.about-swiper-container .swiper-navigation .swiper-next:hover svg {
  width: 0.8vw;
  height: 0.8vw;
  fill: #fff;
}

.about-swiper-container .swiper-navigation .swiper-prev svg {
  transform: rotate(225deg);
}

.about-swiper-container .swiper-navigation .swiper-next svg {
  transform: rotate(45deg);
}

.about-swiper-container .swiper-pagination-horizontal {
  height: fit-content;
  display: flex;
  align-items: center;
}

.about-swiper-container .pagination .swiper-pagination-bullet {
  width: 3.3vw;
  height: 0.15vw;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0;
  opacity: 1;
  margin: 0 !important;
  transition: 0.3s;
}

.about-swiper-container .pagination .swiper-pagination-bullet-active {
  width: 3.3vw;
  height: 0.3vw;
  background-color: rgba(0, 208, 210, 1);
  border-radius: 0;
}

.custom-pagination {
  position: absolute;
  bottom: 3.9vw;
  right: 3.6vw;
  z-index: 100;
}

.custom-pagination .pagination-bullet {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: "Mona-Sans";
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 1.3vw;
  color: rgba(255, 255, 255, 1);
  text-align: end;
  cursor: pointer;
}

.custom-pagination .pagination-bullet.active {
  color: rgba(0, 208, 210, 1);
}

.custom-pagination .pagination-bullet:not(:last-child)::after {
  content: "";
  display: block;
  width: 0.05vw;
  height: 1.6vw;
  background-color: rgba(255, 255, 255, 1);
  margin-right: 0.3vw;
  margin-bottom: 0.3vw;
  margin-top: 0.3vw;
}

.no-controls {
  pointer-events: none; /* Забороняє взаємодію з елементом */
}

.no-controls::-webkit-media-controls {
  display: none !important; /* Прибирає елементи управління у WebKit-браузерах (Safari, Chrome) */
}

.no-controls::-webkit-media-controls-overlay-play-button {
  display: none !important; /* Прибирає кнопку Play у Safari на мобільних пристроях */
}

.person-main-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: end;
  margin-bottom: 5vw;
}

/* FOOTER =============================== */

footer {
  background-color: rgba(0, 208, 210, 1);
  padding: 6.25vw 0 3.6vw 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1.7fr 1.2fr 0.5fr;
}

.grid-container.links {
  margin-bottom: 5.2vw;
}

.grid-container.address {
  margin-bottom: 6.25vw;
  align-items: end;
}

.link-container p {
  font-family: "Mona-Sans";
  font-size: 1.1vw;
  font-weight: 700;
  line-height: 1.5vw;
  margin-bottom: 1.4vw;
  color: rgba(255, 255, 255, 1);
}

.link-container a {
  font-family: "Mona-Sans";
  font-size: 3.4vw;
  font-weight: 700;
  line-height: 3.4vw;
  color: rgba(255, 255, 255, 1);
}

.underline {
  position: relative;
}

.underline:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 0.2vw;
  transform: translateY(100%);
}

.address-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2.3vw;
  width: 40vw;
}

.addres-item {
  flex-basis: calc((100% - 5.6vw) / 2);
}

.addres-item span {
  display: block;
  font-family: "Mona-Sans";
  font-size: 1.1vw;
  font-weight: 700;
  line-height: 1.3vw;
  margin-bottom: 0.4vw;
  color: rgba(255, 255, 255, 1);
}

.addres-item p,
.addres-item a {
  display: block;
  font-family: "Mona-Sans";
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 2.2vw;
  color: rgba(255, 255, 255, 1);
}

footer .join-link-arrow {
  background-color: black;
}

footer .arrow-icon {
  fill: white;
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-bottom-container div {
  font-family: "Mona-Sans";
  font-size: 14.7vw;
  font-weight: 700;
  line-height: 14.7vw;
  color: rgba(255, 255, 255, 1);
}

.footer-bottom-container p {
  font-family: "Mona-Sans";
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 2.2vw;
  text-align: end;
  color: rgba(255, 255, 255, 1);
}

.footer-nav a {
  display: block;
  text-align: end;
  font-family: "Mona-Sans";
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 1.8vw;
  color: #fff;
}

.footer-nav li:not(:last-child) {
  margin-bottom: 2vw;
}

/* 404 PAGE ========================================= */

.error-page .best-section {
  padding: 9.1vw 0 10.4vw 0;
  /* height: 100vh; */
}

.error-page .header-logo {
  fill: rgba(255, 255, 255, 1);
}

.error-page .header-menu-btn > span {
  color: rgba(255, 255, 255, 1);
}

.error-wrapper span {
  font-family: "Druk Cyr";
  font-size: 27vw;
  font-weight: 700;
  line-height: 27vw;
  color: rgba(255, 255, 255, 1);
}

.error-wrapper img {
  width: 33.4vw;
}

.error-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.2vw;
  margin-bottom: 2.2vw;
}

.error-text {
  font-family: "Mona-Sans";
  font-size: 1.6vw;
  font-weight: 700;
  line-height: 2.1vw;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 2.2vw;
}

.error-page .error-container .join-link {
  justify-content: center;
}

.error-page .error-container .app {
  background-color: rgba(255, 255, 255, 1);
  border: none;
}

.error-page .arrow-icon {
  fill: rgba(255, 255, 255, 1);
}

.error-page .error-container .app::before,
.error-page .error-container .app::after,
.error-page .error-container .app .corner-top-right,
.error-page .error-container .app .corner-bottom-left {
  border: 0.06vw solid rgba(0, 208, 210, 1);
}

.error-page .error-container .app::before {
  border-right: none;
  border-bottom: none;
  top: 0;
  left: 0;
}

.error-page .error-container .app::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.error-page .error-container .app .corner-top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.error-page .error-container .app .corner-bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}

/* THANKS_PAGE ============================= */

.thanks-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.thanks-container img {
  width: 35.8vw;
}

.thanks-container h1 {
  font-family: "Druk Cyr";
  font-size: 16.2vw;
  font-weight: 700;
  line-height: 16.2vw;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  margin-bottom: 1.8vw;
}

.error-page .thanks-container .join-link {
  justify-content: start;
}

.error-page .thanks-container .error-text {
  text-align: left;
  width: 34vw;
}

.error-page .thanks-container,
.error-page .error-container {
  position: relative;
  z-index: 99;
}

/* POPUP ======================================== */

/* Стилі для фону попапу */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Напівпрозорий фон */
  opacity: 0; /* Спочатку прозорий */
  visibility: hidden; /* Прихований до активації */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Додаємо плавність */
}

/* Стилі для вмісту попапу */
.popup-content {
  background-image: url(../img/popup-rect.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1vw 2.2vw 1.5vw 1.6vw;
  border-radius: 8px;
  min-width: 26vw;
  position: relative;
  transform: scale(0.7); /* Початкова анімація стиснення */
  transition: transform 0.3s ease; /* Плавність для розгортання */
}

/* Показуємо попап */
.popup-overlay.active {
  opacity: 1; /* Показуємо попап */
  visibility: visible;
}

.popup-overlay.active .form {
  transform: scale(1); /* Розгортаємо контент */
}

/* Стиль для кнопки закриття */
.popup-close {
  position: absolute;
  top: 0;
  right: 1.4vw;
  font-size: 2vw;
  line-height: 1vw;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.popup-title-container {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 2.5vw;
}

.popup-title-container p {
  font-family: "Mona-Sans";
  font-size: 1.6vw;
  font-weight: 600;
  line-height: 1.8vw;
}

.popup-title-container svg {
  width: 2.8vw;
  height: 2.8vw;
}

.popup-close:hover {
  color: rgba(0, 208, 210, 1);
  transform: rotate(180deg);
}

.form label {
  display: block;
  font-family: "Mona-Sans";
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 0.9vw;
  cursor: pointer;
}

.form input {
  border: none;
  border-bottom: 0.05vw solid #000;
  width: 100%;
  padding-bottom: 0.3vw;
  font-family: "Mona-Sans";
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 0.9vw;
  text-align: left;
}

.form-input-container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.form-input-container label {
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  transition: 0.3s ease;
}

.form-input-container input.filled + label,
.form-input-container input:focus + label {
  transform: translateY(-200%);
  color: rgba(0, 208, 210, 1);
}

.form .form-container .form-input-container:not(:last-child) {
  margin-bottom: 2.7vw;
}

.popup-content .app {
  width: 100%;
}

.popup-content.join-link {
  width: 100%;
}

.popup-bottom-text {
  font-family: "Mona-Sans";
  font-size: 0.6vw;
  font-weight: 500;
  line-height: 0.9vw;
  max-width: 12vw;
  margin-top: 2.1vw;
}

.popup-bottom-text p {
  opacity: 0.5;
  display: inline;
}

.popup-bottom-text a {
  color: rgba(0, 208, 210, 1);
  text-decoration: underline;
}

.form .arrow-icon {
  fill: rgba(255, 255, 255, 1);
}

.form .popup-title-container svg {
  fill: #000;
}
